$black: #000000;
$deepDark: #18191c;
$otherDark: #1e2025;
$dark: #2e313a;
$grey: #414551;
$green: #1fff5d;
$red: #ff0044;
$white: #fcfcfc;

.dark-theme {
  color: $white;
  background: $deepDark;
}

.dark-error {
  color: $white;
  background-color: $red;
  margin: 15px 15px;
}

.dark-content {
  color: $white;
}

input {
  border: 1px $white solid;
  display: block;
  margin-top: 10px;
}

.dark-btn:hover {
  background: $grey;
  padding: 3px;
  border-color: $grey;
  border-radius: 30px;
}

.dark-list:hover {
  background: $dark;
}

@media screen and (max-width: 1000px) {
  .mobile {
    display: none;
  }
}
